<h1>物件一覧</h1>

<table>
  <tr>
    <th><%= Property.human_attribute_name(:name) %></th>
    <th><%= Property.human_attribute_name(:rent) %></th>
    <th><%= Property.human_attribute_name(:address) %></th>
    <th><%= Property.human_attribute_name(:age) %></th>
    <th><%= Property.human_attribute_name(:note) %></th>
  </tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.name %></td>
      <td><%= property.rent %>円</td>
      <td><%= property.address %></td>
      <td><%= property.age %>年</td>
      <td><%= property.note %></td>
    </tr>
  <% end %>
</table>

<%= link_to "物件を登録する", new_property_path %>
