<ul>
  <li>
    <%= Property.human_attribute_name(:name) %>:<%= @property.name %>
  </li>
  <li>
    <%= Property.human_attribute_name(:rent) %>:<%= @property.rent %>円
  </li>
  <li>
    <%= Property.human_attribute_name(:address) %>:<%= @property.address %>
  </li>
  <li>
    <%= Property.human_attribute_name(:age) %>:<%= @property.age %>年
  </li>
  <li>
    <%= Property.human_attribute_name(:note) %>:<%= @property.note %>
  </li>
</ul>